.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  background-image: $btn-bg;
  color: $btn-color;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 500ms ease-in-out;

  &:before {
    border-radius: inherit;
    background-image: $btn-bg-hover;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 500ms ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &.btn--big {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin: 0 0 20px;
  }
}