*,
*:before,
*:after {
  // Fix font rendering issue!
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}
html,
body,
ul,
ol, h1, h2, h3 {
  margin:  0;
  padding: 0;
}
::placeholder {
  color: gray;
}
nav {
  ol {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}