$brand-color: #192038;
$brand-text-color: #fff;
$bg-employee-bar: #13192b;
$heading-font: 29px;
$btn-bg:(linear-gradient(to left, #8899ff, #5269ff));
$btn-bg-hover:(linear-gradient(to left, #5269ff, #8899ff));
$btn-color:#fff;
$error-font: 11px;
$base-font: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";